	
/*
Reset per:
- Azzerare tutti i margini
- Azzerare tutti i padding
- Impostare a tutti i tag il box-sizing di tipo border-box
*/
 
* {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
}
body {
    width: 512px;
}
#site_head {
    padding-left: 1rem ;
}
main {
    border-bottom: 2px;
    border-left: 0;
    border-right: 0;
    border-top: 2px;
    border-style: solid;
}
.container {
    margin: 1rem;
    border: 2px;
    border-style:solid;
    padding: 1rem
}